:root {
  --specialGreen: #236635;
}

html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--specialGreen);
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 3em;
}


#login-form {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0.5em;
}



.login-form-field {
  border-bottom: 0.1em solid black;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}


#login-button {
  width: 70%;
  padding: 0.5em;
  border: none;
  border-radius: 2em;
  color: white;
  font-weight: bold;
  background-color: var(--specialGreen);
}
