:root {
  --specialGreen: #236635;
}

html{
  height: 100%;
  align-items: center;
}

body {
  height: 100%;
  margin: 0em 0em 0em 7em;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: var(--specialGreen);
  border: none;
  border-radius: 3em;
}

 div{
  padding: 1em;
}

#select-option {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-text{
  width: 20em;
}

.Menu{
  width : 30%;
  height: 60%;
  background-color: #dddddd;
  display:grid;
  flex-direction: row;
  align-content: center;
  justify-items: center;
}

#group-members {
  width: 12%;
  height: 60%;
  background-color: #aaaaaa;
}

#message-box{
  width : 40%;
  height: 60%;
  background-color: #696969;
}

#send-button{
  width: 6em;
  padding: 0.5em;
  border: none;
  border-radius: 2em;
  color: white;
  font-weight: bold;
  background-color: mediumseagreen;
}

#byebye-button{
  width: 6em;
  padding: 0.5em;
  border: none;
  border-radius: 2em;
  font-weight: bold;
  color: black;
  background-color: mediumspringgreen;
}
