<h1 class="my-text-color">{{ title }}</h1>

<agm-map (mapClick)="handleMapClick($event)" [latitude]="initialLocation.getLat()"
         [longitude]="initialLocation.getLong()" [zoom]="zoom">
  <agm-marker [latitude]="markLocation.getLat()" [longitude]="markLocation.getLong()"></agm-marker>
</agm-map>

<button (click)="saveMyLocation()" class="my-location-buttons">Save as myLocation</button>
<button (click)="showPassesForMyLocation()" class="my-location-buttons" id="show-passes-myLocation-button">Show passes
  for myLocation
</button>

<div *ngIf="clicked === true && passesCount === 0" class="my-text-color">
  <h4>There are no passes in the selected location for the next 10 days :(</h4>
</div>

<div *ngIf="clicked === true && passesCount > 0" class="my-text-color">
  <h4>There are {{passesCount}} passes in your location in the next 10 days:</h4>

  <table>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Azimuth at start</th>
      <th>Azimuth at end</th>
      <th>Duration</th>
      <th>Weather</th>
      <th>Visibility</th>
    </tr>
    <tr *ngFor="let pass of passes">
      <td>{{formatDate(pass.startUTC)}}</td>
      <td>{{formatDate(pass.endUTC)}}</td>
      <td>{{pass.startAzCompass}}</td>
      <td>{{pass.endAzCompass}}</td>
      <td>{{pass.duration}} s</td>
      <td>{{getBestMatchingWeatherDay(pass.startUTC).weather[0].description}}</td>
      <td>{{getBestMatchingWeatherDay(pass.startUTC).visibility}}</td>
    </tr>
  </table>

</div>
<div *ngIf="clicked === false" class="my-text-color">
  <h4>Please select the location where you want to see the ISS passes</h4>
</div>
<br>
