agm-map {
  width: 100%;
  height: 72%;
}

.my-text-color {
  color: #000099;
}

h1 {
  text-align: center;
}

h4 {
  margin-left: 3%;
}

table {
  margin: auto;
}

.my-location-buttons {
  float: right;
  margin-top: 1%;
  margin-right: 0.8%;
  height: 4.5vh;
  width: 15vw;
  font-size: 1vw;
}

#show-passes-myLocation-button {
  margin-right: 0.4%;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

